.sbs-wrapper {
	text-align: center;
	width: 100%;
	overflow: hidden;
}
.sbs-wrapper div {
	display: inline-block;
	margin: 10px;
}

.sticky-side-ad {position: fixed;right: 30px; top: 90px; z-index: 100; transition: .4s; transform: translateX(0)}
.sticky-side-ad.is-hidden {pointer-events: none; transition: .4s; transform: translateX(150%);}

@media (min-width: 1260px) and (max-width:1400px) {
    .article-content.align--center .container {
        max-width: 700px;
    }
}

@media (max-width:1260px) {
    .sticky-side-ad {
        pointer-events:none;
        transition:.4s;
        transform:translateX(150%)
    }
}
